{% load static %}

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!-- CSS Custom File -->
<link href="{% static 'css/homepage.css' %}" rel="stylesheet">

<nav class="navbar navbar-expand-lg">
    <!-- <a class="navbar-brand" href="#"><img class="logo" src="{% static 'media/cow.jpg' %}" alt=""></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/sensor_data_show">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/sensor_read">Sensors</a>
            <a class="nav-item nav-link" href="/cow_sensor_read">Cow Sensors</a>
            <a class="nav-item nav-link" href="#">Cows</a>
            <a class="nav-item nav-link" href="/farm_read">Farms</a>
            <a class="nav-item nav-link" href="#">Commands</a>
            <a class="nav-item nav-link" href="#">Users</a>
        </div>
    </div>
</nav>


<h1 class="title1">Milk-T</h1>