<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Milk-T</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/sensor_data_post/">  
        {% csrf_token %}
    <div class="container">  
  <br>  
  <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Sensor Data Details</h3>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Sensor Id:</label>  
    <div class="col-sm-4">  
      {{ form.sensor_id }}  
    </div>
    <!-- <a href="sensor_read.html/">Sensor Site</a> -->
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Tick:</label>  
    <div class="col-sm-4">  
      {{ form.tick }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Acc X:</label>  
    <div class="col-sm-4">  
      {{ form.Acc_X }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Acc Y:</label>  
    <div class="col-sm-4">  
      {{ form.Acc_Y }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Acc Z:</label>  
    <div class="col-sm-4">  
      {{ form.Acc_Z }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Gyro X:</label>  
    <div class="col-sm-4">  
      {{ form.Gyro_X }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Gyro Y:</label>  
    <div class="col-sm-4">  
      {{ form.Gyro_Y }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Gyro Z:</label>  
    <div class="col-sm-4">  
      {{ form.Gyro_Z }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Temperature:</label>  
    <div class="col-sm-4">  
      {{ form.temperature }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Battery:</label>  
    <div class="col-sm-4">  
      {{ form.battery }}  
    </div>  
  </div>
  <div class="form-group row">  
    <br>
    <!-- <label class="col-sm-1 col-form-label">Submit</label>   -->
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
  </div>  
  </div>  
</form>  
</body>  
</html>